$primary: #ff9285;
$secondary: #0e0e0e;
$border-width:1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);
$thumbnail-padding:                 1rem;
$thumbnail-border-width:            $border-width;
$thumbnail-border-color:            #262626;
$thumbnail-border-radius:          1.25rem;





